@import "./theme.css";

window#osd {
  padding: 0;
  border-radius: 0;
  border: 2px solid @border-color;
  background-color: alpha(@background-color, 0.95);
}

#container {
  margin: 0px;
  padding: 12px 14px;
  background: transparent;
}

label {
  font-family: "FiraCode Nerd Font";
  font-size: 12pt;
  color: @label;
}

image {
  -gtk-icon-transform: scale(0.7);
  color: @image;
}

progressbar {
  border-radius: 999px;
  min-height: 6px;
  background: transparent;
  border: none;
}

trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background-color: alpha(@background-color, 0.5);
}

progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background-color: @progress;
}
